.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    }    
.stage-direction{
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        background-color: lightcyan;
        color: black;    
    }
.name{
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        color: black;
    }    
.stage-direction:hover{
        background-color: rgb(255, 251, 0);
        color: rgb(252, 29, 0);     
    }
.FERDINAND{
        color: rgb(25, 0, 255);
    }
.LONGAVILLE{
        color: rgb(255, 0, 0);
    }
.DUMAIN{
        color: rgba(200, 255, 0, 0.973);
    }
.BIRON{
        color: rgb(255, 0, 255);
    }   
table{
        margin-left: 5px;
    }
table,th,td{
        padding: 10px;
        border:1px solid black;
        border-collapse: collapse ;
    }
tr:nth-child(even){
        background-color: rgb(44, 218, 160);
    }
.name:hover{
    text-shadow: 2px 2px 4px rgb(30, 255, 0);
    color: rgb(109, 45, 182);
    border: 5px dotted black;
}
ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:rgb(233, 137, 121)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
/* on hover change the link color*/
    ul.navbar-horizontal a:hover {
    background-color: rgb(171, 180, 253);
    color:white;
}
.positionofimage{
    position:absolute;
    right:200px;
}
body {
    background-image: url("light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg");
    
   }
.postionoficon{
    position:absolute;
    right:16px;
}